body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

table {
  border-collapse: collapse;
  width: 80vh;
  border: 1px solid black;
  margin: 3rem auto
}

table td {
  border: 1px solid black;
  text-align: left;
  vertical-align: top;
  padding: 10px 20px;
}